:root {
  --primary: #00649e;
  --primary-dark: #0D345C;
  --secondary: #D31C72;
  --grey: #444D59;
  --grey-light: #E6E6E6;
  --black: #000;
  --white: #fff;
  --line-height: 1.5rem;
  --heading-large: 76px;
  --heading-medium: 48px;
  --heading-small: 32px;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  line-height: 1.3;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

main {
  padding-top: 3rem;
}

a {
  color: var(--primary);
  transition: .3s;
}
a:focus,
a:hover {
  color: var(--secondary);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", "Open Sans", sans-serif;
  margin-top: 0;
}

h1, .h1 {
  font-size: calc(var(--heading-large) / 1.5);
  line-height: 1.1;
}
h2, .h2 {
  font-size: calc(var(--heading-medium) / 1.5);
  line-height: 1.1;
}
h3, .h3 {
  font-size: calc(var(--heading-small) / 1.5);
  line-height: 1.1;
}

@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: var(--heading-large)
  }
  h2, .h2 {
    font-size: var(--heading-medium)
  }
  h3, .h3 {
    font-size: var(--heading-small)
  }
}

p, ul, ol, pre, table, blockquote  {
  margin-top: 0;
  margin-bottom: var(--line-height);
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}